* {
  box-sizing: border-box;
}
h1 {
  font-size: 40px;
  font-weight: bold;
}
button:focus,
select:focus {
    outline: none;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrap {
  max-width: 1024px;
  width: 100%;
}

.main-title {
  font-size: 80px;
  text-align: center;
  margin: 0 0 30px;
  color: #8d8d92;
}

.nav-button {
  border-radius: 5px;
  padding: 8px;
  width: 42px;
  height: 42px;
  position: relative;
  transition: all 0.3s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.nav-button svg {
  color: #fff;
}

.nav-button:hover {
  transform: scale(1.2);
}
.nav-button.menu-home {
  background: #1a8273;
}
.nav-button.menu-counter {
  background: #313131;
  border: 1px solid #4e5052;
}
.nav-button.menu-weather {
  background: #1692c1;
}
.nav-button.menu-metronome {
  background: #323334;
  text-decoration: none;
  color: #06ccff;
  font-size: 40px;
  border: 1px solid #4b4f50;
}
.nav-button.menu-metronome svg {
  fill: #06ccff;
  transform: rotateZ(-45deg);
  height: 40px;
  position: absolute;
}
.nav-button.menu-pringpringcats {
  background: #dc8000;
  border: 1px solid #c4c3b5;
}
